* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.arrow-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .arrow {
    text-decoration: none;
    padding: 10px 20px;
    background-color:#333;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  .arrow:hover {
    background-color: #333;
  }

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
}

button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#e65c00;
}