* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}
.arrow-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.arrow {
  text-decoration: none;
  padding: 10px 20px;
  background-color:#333;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.arrow:hover {
  background-color: #333;
}
.form-container {
  flex: 1;
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-group input,  .input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e65c00;
}

#assignedJobs {
  margin-top: 40px;
}

#jobsList {
  list-style: none;
  padding: 0;
}

#jobsList li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #ff6600;
}