body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color:  #ff6600;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.arrow-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .arrow {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  .arrow:hover {
    background-color:  #e65c00;
  }



nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color:  #ff6600;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}